body {
    font-family: sans-serif;
    background-color: pink;
}

.flash {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
}

.flash.success {
    background-color: green;
}

.flash.error {
    background-color: red;
}